.nav{
    @media screen and(min-width:768px) {
    display: flex;
    
}
   
    
}


.logo-one{
    display: inline-block;
        

    
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: getColor('secondary') ;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,&:focus{ color: getColor('accent');}
    @media screen and (max-width: 767px) {
        padding: 16px;
        
        
    }
    @media screen and(min-width:768px) {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 88px;
        
    }
    @media screen and (min-width:1200px) {

        
        padding-right: 93px;
    }
}

.logo{
    color: getColor('accent');

}

.nav__list{
    display: flex;
    margin: 0px;
    padding: 0px;
    text-align: center;
    
    align-items: center;
    & .nav__item:not(:last-child){
    margin-right: 50px;
    }
}


.nav__link{ 
    display: inline-block;
    padding: 32px 0;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:  getColor('secondary');

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    &:focus, &:hover{
        color: getColor('accent');}
        
    @media screen and (max-width:767px) {
        display: none;
    }
}
.nav__link--open{
    position: relative;
        &::after{    
            content: '';
            position: absolute;
            bottom: -1px;
            left: 0;
            width: 100%;
            height: 0;
            border: 2px solid getColor('accent');
            border-radius: 2px ;
        
        }
        
    color:  getColor('accent');
    }

    



    .contact__icon{

        margin-right: 10px;
        fill: currentColor;
    }

    .contact__list{
        @media screen and (max-width:767px) {
            display: none;
            
        }
        @media screen and (min-width:768px) {
            
        display: flex;
        margin-left: auto;
        flex-direction: column;
        justify-content: space-evenly;
            
        }
        @media screen and (min-width:1200px) {
            flex-direction: row;            
            align-items: center;
            
        }
    }
    .contact__item:not(:last-child){
        margin-left: auto;
        margin-right: 50px;
        
        display: flex;
        align-items: center;
        
    }
    .contact__link{
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        
        color: getColor('primary');
    
        transition-property: color, fill;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &:hover, &:focus{
            color: getColor('accent');
            fill: getColor('accent');
    
        }
        @media screen and (min-width:1200px) {
            
        padding: 32px 0;
            
        }
    }
    



.header__contact{
    display: flex;
    align-items: center;
    margin-left: auto;
}



