
    .client__section{
    color: getColor('secondary');
    background-color: getColor('background');}

    .client__titul{
        font-weight: bold;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
    }
    .client__list{
        margin-top: 50px;
        display: flex;
        
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border: none;
    }
    .client__item{
        margin: 15px;

        @media screen and (min-width:480px) {
            width: 210px;
            
        }
        @media screen and (min-width:768px) {
            
            width: 226px;
            
        }
        @media screen and(min-width:1200px) {
            width: 170px;
            
        }
        
    }
    .client__link{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 170px;
        height: 92px;
        border: 1px solid #AFB1B8;
        border-radius: 4px;
        fill: #AFB1B8;
    
        transition-property: fill, border-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        &:hover,
        &:focus{
            fill: getColor('accent');
            border-color: getColor('accent');
        }
    }

    
