

.features{
    margin-right: auto;
    margin-left: auto;

    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    @media screen and (min-width:480px) {
        display: inline-block;
        
    margin-right: auto;
    margin-left: auto;
        
    }
    @media screen and(min-width:768px) {
        display:flex;
        flex-wrap: wrap;
    }
    
    
}
.features__item{
    
    margin: 15px;
    @media screen and(max-width:767px){
        max-width: 450px;

    }
    @media screen and(min-width:768px) {
        width: calc((100% - 4 * 15px) / 2);
    
        
    }
    @media screen and (min-width:1200px) {
        width: 270px;
        
    }
}
.features__block{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 120px;
    margin-bottom: 30px;
    background-color: getColor('background');
    border-radius: 4px;
}
    
    
.features__icon{
    background-repeat: no-repeat;
    background-position: center;
}
.features__title{
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: getColor('secondary');

}
.features__text{
    margin-top: 10px;

    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-transform: none;

}

.image{
    
    padding-top: 0;
    
    display: flex;
    position: relative;    
}
.section__tutle{
    
        margin-bottom: 35px;
        font-weight: bold;
        font-size: 36px;
        line-height: 1.16;
        text-align: center;
        letter-spacing: 0.03em;
    
        color: getColor('secondary');
        @media screen and(max-width:1199px) {
            display: none;
            
        }
    }
.image__box{
        position: relative;
     
    }
.image__list{    display: flex;
        padding-bottom: -4px;
        justify-content: space-between;
        &:not(:last-child){
            margin-right: 30px;
        }
        @media screen and(max-width:1199px) {
            display: none;
            
        }
    }
.image__text{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    left: 0;
    
        font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: getColor('foreground');
    background: rgba(47, 48, 58, 0.8);
    
    }
